KAGGLE: https://www.kaggle.com/c/forest-cover-type-prediction/overview

In [203]:
import pandas as pd
import numpy as np

data = pd.read_csv('train.csv')

In [204]:
data.head(5)

   Id  Elevation  Aspect  ...  Soil_Type39  Soil_Type40  Cover_Type
0   1       2596      51  ...            0            0           5
1   2       2590      56  ...            0            0           5
2   3       2804     139  ...            0            0           2
3   4       2785     155  ...            0            0           2
4   5       2595      45  ...            0            0           5

[5 rows x 56 columns]

In [205]:
data = data.drop(['Id'],axis=1)

In [206]:
col_wildernessarea = np.array(data.iloc[:,10:14])
col_soiltype = np.array(data.iloc[:,14:-1])
mod_wildernessarea = np.argmax(col_wildernessarea, axis=1)+1
mod_soiltype = np.argmax(col_soiltype,axis=1)+1

# pd.DataFrame(columns=[mod_wildernessarea,mod_soiltype],index=[i for i in range(15120)])
temp = pd.DataFrame(mod_soiltype)
temp.rename(columns={0:'Soil_Type'},inplace=True)
temp1 = pd.DataFrame(mod_wildernessarea)
temp1.rename(columns={0:'Wilderness_Area'},inplace=True)

temp2 = pd.concat([temp,temp1],axis=1)

data = pd.concat([data,temp2],axis=1)

In [207]:
# data.iloc[:,10:-3]
data.drop(data.iloc[:,10:-3],axis=1,inplace=True)

In [208]:
temp3 = pd.DataFrame(data['Cover_Type'])
data.drop(['Cover_Type'],inplace=True,axis=1)
data = pd.concat([data,temp3],axis=1)

In [209]:
data.head(10)

   Elevation  Aspect  Slope  ...  Soil_Type  Wilderness_Area  Cover_Type
0       2596      51      3  ...         29                1           5
1       2590      56      2  ...         29                1           5
2       2804     139      9  ...         12                1           2
3       2785     155     18  ...         30                1           2
4       2595      45      2  ...         29                1           5
5       2579     132      6  ...         29                1           2
6       2606      45      7  ...         29                1           5
7       2605      49      4  ...         29                1           5
8       2617      45      9  ...         29                1           5
9       2612      59     10  ...         29                1           5

[10 rows x 13 columns]

In [210]:
from sklearn.preprocessing import StandardScaler

scale = StandardScaler()

# scale.fit(data)
# scale.transform(data)

data_temp = data.drop(['Cover_Type'],axis=1)
data_temp_norm = (data_temp - data_temp.min())/(data_temp.max()-data_temp.min())
data_temp_norm = pd.concat([data_temp_norm,data['Cover_Type']],axis=1)

In [211]:
data_temp_norm

       Elevation    Aspect     Slope  ...  Soil_Type  Wilderness_Area  Cover_Type
0       0.369084  0.141667  0.057692  ...   0.717949         0.000000           5
1       0.366062  0.155556  0.038462  ...   0.717949         0.000000           5
2       0.473817  0.386111  0.173077  ...   0.282051         0.000000           2
3       0.464250  0.430556  0.346154  ...   0.743590         0.000000           2
4       0.368580  0.125000  0.038462  ...   0.717949         0.000000           5
...          ...       ...       ...  ...        ...              ...         ...
15115   0.374622  0.675000  0.442308  ...   0.076923         0.666667           3
15116   0.372608  0.336111  0.365385  ...   0.076923         0.666667           3
15117   0.316717  0.372222  0.480769  ...   0.076923         0.666667           3
15118   0.314199  0.463889  0.538462  ...   0.076923         0.666667           3
15119   0.308157  0.547222  0.653846  ...   0.025641         0.666667           3

[15120 rows x 13 columns]

In [212]:
y = data.iloc[:,-1]
x = data.iloc[:,:-1]

In [255]:
from sklearn.model_selection import train_test_split 
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.01)

rfc = RandomForestClassifier()

svm = SVC()

lr = LogisticRegression()

rfc.fit(xtrain,ytrain)
svm.fit(xtrain,ytrain)
lr.fit(xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [256]:
testdata = pd.read_csv('test.csv') #read test file

In [257]:
testdata = testdata.drop(['Id'],axis=1)

In [258]:
from sklearn.metrics import accuracy_score
preds = svm.predict(xtest)

accuracy_score(preds,ytest)

0.6381578947368421

In [259]:
col_wildernessarea = np.array(testdata.iloc[:,10:14])
col_soiltype = np.array(testdata.iloc[:,14:])
mod_wildernessarea = np.argmax(col_wildernessarea, axis=1)+1
mod_soiltype = np.argmax(col_soiltype,axis=1)+1

# pd.DataFrame(columns=[mod_wildernessarea,mod_soiltype],index=[i for i in range(15120)])
temp = pd.DataFrame(mod_soiltype)
temp.rename(columns={0:'Soil_Type'},inplace=True)
temp1 = pd.DataFrame(mod_wildernessarea)
temp1.rename(columns={0:'Wilderness_Area'},inplace=True)

temp2 = pd.concat([temp,temp1],axis=1)

testdata = pd.concat([testdata,temp2],axis=1)

In [260]:

testdata.drop(testdata.iloc[:,10:-3],axis=1,inplace=True)

In [261]:
testdata.drop(columns = ['Soil_Type40'],inplace=True)

In [262]:
testdata

        Elevation  Aspect  ...  Soil_Type  Wilderness_Area
0            2680     354  ...         29                1
1            2683       0  ...         29                1
2            2713      16  ...         29                1
3            2709      24  ...         29                1
4            2706      29  ...         29                1
...           ...     ...  ...        ...              ...
565887       2396     153  ...          2                3
565888       2391     152  ...          2                3
565889       2386     159  ...          2                3
565890       2384     170  ...          2                3
565891       2383     165  ...          2                3

[565892 rows x 12 columns]

In [263]:
preds1 = rfc.predict(testdata)

In [264]:
testdata1 = pd.read_csv('test.csv')

newframe = pd.DataFrame(preds1)

In [265]:
new = pd.DataFrame(testdata1['Id'])

In [266]:
output = pd.concat([new,newframe],axis=1)

In [267]:
output.rename(columns={0:'Cover_Type'},inplace=True)

In [268]:
output.to_csv('output.csv',index=False)